<div class="welcome-body">
  <div class="center-div">
    <div class="welcome-div-up">
      <div class="div-bottom">
        <img class="welcome-logo" src="/assets/images/welcome.png">
        <div  style="font-size:0.7em!important">WELCOME TO </div>
        <div >TOUR DE BOSNA</div>
      </div>
    </div>
    <div class="welcome-div-down">
      <div class="center-div">
        <button type="button" class="btn btn-outline-info btn-welcome">I am looking for <br>a tour!</button>
        <button type="button" class="btn btn-outline-info btn-welcome">I am a <br>tour host!</button>
      </div>
    </div>
  </div>

</div>
