<div class="row">
<h1 >Your Tour Offers</h1>
<ul class="offers-list">
  {{#each offers as |offer|}}
  <li class="offers-item">
      <div class="offers-image" ><img src="/assets/images/{{offer.id}}.png" >
        <div class="offers-price">{{offer.price}}KM</div>
      </div>
      <div class="offers-text">
        <h2 class="offers-title">{{offer.name}}</h2>
        <div class="offers-detail"><span class="glyphicon glyphicon-star-empty"></span>    Sport adventure </div>
        <div class="offers-detail"><span class="glyphicon glyphicon-time"></span>    4 days</div>
      </div>
  </li>
  {{/each}}




</ul>
</div>
{{outlet}}
